<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/article">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/article/create">Add article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/category/create">Add category</a>
        </li>
      </ul>
    </div>
</div>